.App {
	font-family: sans-serif;
	text-align: center;
}

.clickedDiv {
	border: double rgb(235, 187, 31) 4.5px;
	/* background:  url("./div_background.png") no-repeat fixed center; */
	background-color: turquoise;
}

.NotClickedDiv {
	border: double rebeccapurple 4.5px;
	/* background:  url("./div_background.png") no-repeat fixed center; */
	background-color: turquoise;
}