.App {
  font-family: sans-serif;
  text-align: center;
}

.body{
  padding: 0;
}

.currentDiv {
  border: double saddlebrown 4.5px;
  background-color: #ccff66;
}

.clickedDiv {
  border: double saddlebrown 4.5px;
  /* background-color: turquoise; */
}

.NotClickedDiv {
  border: double rebeccapurple 4.5px;
  background-color: turquoise;
}

.notActiveButton {
  opacity: 0;
}

.activeButton {
  opacity: 1;
}
